@media (max-width: 1250px) {
     :root {
        //---хедер
        --heHeader: 80px; //выс.хед
        --menuGapHead: 25px; //промежуток между ссыл.меню.хедер
        //---контент
        --contentWidh: 90vw; //шир.контент.части в блок.
        --logoHedWe: 235px; //шир.логотип
        --logoHedHe: 45px; //выс.логотип
        //1блок
        --padTopText1Block: 70px; //отст.верхн.от хедера 1секция
        --firstBlokHe: max-content; //выс.перв.секц
        --firstBlockBtnWi: 250px; //шир.кнопки
        --firstBlockBtnHe: 80px; //выс.кнопки
        //2блок
        --timetableHe: 708px; //выс.втор.секц
        --squareWi: 30%; //шир.квадрата.рамки
        --squareHe: calc(var(--squareWi) * 1.8658); //выс.квадрата.рамки
        --photoSquareWi: 75%; //шир.фото2секц
        --photoSquareHe: calc(var(--photoSquareWi) * 1.165); //выс.фото2секц
        //5блок
        --galleryImgHe: 546px; //выс.фото в галерее
        //6блок
        --padTop6Block: 70px; //отступ верх.от галереи
    }
}

@media (max-width: 1024px) {
     :root {
        --liHeH2: 52px; //высота строки заголовока H2
        //---контент
        --logoHedWe: 225px; //шир.логотип
        --logoHedHe: 42px; //выс.логотип
        //1блок
        --padTopText1Block: 20px; //отст.верхн.от хедера 1секция
        --firstBlockBtnWi: 170px; //шир.кнопки
        --firstBlockBtnHe: 55px; //выс.кнопки
        //2блок
        --timetableHe: 488px; //выс.втор.секц
        --squareWi: 30%; //шир.квадрата.рамки
        --photoSquareWi: 75%; //шир.фото2секц
        //5блок
        --botPadSect5: 235px; //нижний паддинг 5секц
        --galleryImgHe: 400px; //выс.фото в галерее
    }
}

@media (max-width: 900px) {
     :root {
        //размеры шрифтов
        --fsMenuHead: 14px; //----размер шрифта в хедер
        --fsH2: 42px; //заголовки h2
        --liHeH2: 48px; //высота строки заголовока H2
        --fsH3: 34px; //Заголовки h3
        --fsH4: 22px; //Заголовки h4
        --fsH5: 16px; //Заголовки h5
        --fsP: 14px; //текст и блоки P
        //хедер
        --menuGapHead: 15px; //промежуток между ссыл.меню.хедер
        //контент
        --logoHedWe: 170px; //шир.логотип
        --logoHedHe: 32px; //выс.логотип
    }
}

@media (max-width: 767px) {
     :root {
        //
        --fsMenuHead: 15px; //----размер шрифта в хедер
        --fsH2: 40px; //заголовки h2
        --liHeH2: 44px; //высота строки
        //---хедер
        --heHeader: 50px; //выс.хед
        --menuGapHead: 30px; //промежуток между ссыл.меню.хедер
        //---контент
        --logoHedWe: 185px; //шир.логотип
        --logoHedHe: 38px; //выс.логотип
        //2блок
        --squareWi: 150px; //шир.квадрата.рамки
        --photoSquareWi: 160px; //шир.фото2секц
        --photoSquareHe: calc(var(--photoSquareWi) * 1.5); //выс.фото2секц
    }
}

@media (max-width: 630px) {
     :root {
        //5блок
        --botPadSect5: 30%; //нижний паддинг 5секц
        --galleryImgHe: 300px; //выс.фото в галерее
    }
}

@media (max-width: 495px) {
     :root {
        //
        --fsMenuHead: 18px; //----размер шрифта в хедер
        --fsH2: 36px; //заголовки h2
        --liHeH2: 40px; //высота строки заголовока H2
        //---контент
        --contentWidh: 80%; //шир.контент.части в блок.
        //1блок
        --padTopText1Block: 10px; //отст.верхн.от хедера 1секция
        //2блок
        --squareWi: 150px; //шир.квадрата.рамки
        --photoSquareWi: 115px; //шир.фото2секц
        --photoSquareHe: calc(var(--photoSquareWi) * 1.5); //выс.фото2секц
        //5блок
        --galleryImgHe: 240px; //выс.фото в галерее
    }
}

@media (max-width: 375px) {
     :root {
        //5блок
        --botPadSect5: 20%; //нижний паддинг 5секц
        --galleryImgHe: 200px; //выс.фото в галерее
    }
}

@media (max-width: 320px) {
     :root {
        --fsH2: 26px; //заголовки h2
        --liHeH2: 32px; //высота строки
        --fsH3: 24px; //Заголовки h3
        --fsH4: 18px; //Заголовки h4
        --fsH5: 14px; //Заголовки h5
        --fsP: 12px; //текст и блоки P
        //---контент
        --logoHedWe: 85px; //шир.логотип
        --logoHedHe: 25px; //выс.логотип
        //5блок
        --galleryImgHe: 150px; //выс.фото в галерее
        //6блок
        --padTop6Block: 20px; //отступ верх.от галереи
    }
}

@media (max-width: 230px) {
     :root {
        //5блок
        --botPadSect5: 25%; //нижний паддинг 5секц
        --galleryImgHe: 120px; //выс.фото в галерее
    }
}