/*----HEADER-----*/

.header {
    @include wiHe($he: var(--heHeader));
    @include leTo;
    z-index: 50;
    position: absolute;
    .container {
        @include wiHe(var(--contentWidh));
        @include flexAlJu;
        margin: 0px auto;
    }
    //логотип
    &__logo {
        @include wiHe(var(--logoHedWe), var(--logoHedHe));
        @include bgImg(none);
        background-image: url('../img/svg/logo-head.svg');
    }
    //навигация
    &__navigation ul {
        display: flex;
        gap: var(--menuGapHead);
    }
    //ссылки
    &__link {
        @include fontSize(var(--fsMenuHead));
        &:hover {
            color: $goldColor;
        }
    }
    //контактный телефон
    &__phone {
        @include flexAlJu(center);
        img {
            @include wiHe(24px,
            24px);
            margin-right: 11px;
        }
        p {
            @include fontSize(var(--fsMenuHead));
        }
    }
    //бургер кнопка
    &__burger {
        display: none;
    }
}

//скрытый попап телефона мобильной версии
.header-popup__phone-wrapper {
    display: none;
}

//скрытая картинка для вызова попап телефона мобильной версии
#header__phone-img2 {
    display: none;
}

//-----адаптив ХЕДЕР--
@media (max-width: 1024px) {
    .header {
        background-color: $whiteColor;
        position: fixed;
        //логотип
        &__logo {
            background-image: url('../img/png/logo-black.png');
        }
        //навигация
        &__navigation ul {
            display: flex;
        }
        //ссылки
        &__link {
            @include fontSize(var(--fsMenuHead),
            500,
            $color: $blackColor);
        }
        //контактный телефон
        &__phone {
            @include flexAlJu(center);
            p {
                @include fontSize(var(--fsMenuHead),
                $color: $blackColor);
            }
        }
    }
}

@media (max-width: 900px) {
    .header {
        //контактный телефон
        &__phone {
            img {
                @include wiHe(20px,
                20px);
                margin-right: 5px;
            }
        }
    }
}

@media (max-width: 767px) {
    //адаптив хедера 767
    .header {
        background-color: $whiteColor;
        position: fixed;
        .container {
            @include flexAlJu;
            margin: 0px auto;
        }
        //бургер кнопка
        &__burger {
            @include wiHe(50px,
            30px);
            display: block;
            position: relative;
            z-index: 3;
            //средняя черта бургера
            span {
                @include wiHe(36px,
                4px);
                @include leTo(13px,
                0px);
                background-color: $blackColor;
                position: absolute;
                /**/
                transition: all 0.3s ease 0s;
            }
            //верх и ниж черта бургера
            &::before,
            &::after {
                @include wiHe(36px,
                4px);
                content: '';
                background-color: $blackColor;
                position: absolute;
                left: 0;
                /**/
                transition: all 0.3s ease 0s;
            }
            &::before {
                top: 3px;
            }
            &::after {
                bottom: 3px;
            }
            //крестик из бургера
            &.active::before {
                top: 13px;
                /**/
                transform: rotate(45deg);
            }
            &.active::after {
                bottom: 13px;
                /**/
                transform: rotate(-45deg);
            }
            &.active span {
                transform: scale(0);
            }
        }
        //навигация
        &__navigation {
            @include wiHe;
            @include leTo(-100%,
            0);
            position: fixed;
            background-color: $blueColor;
            /**/
            transition: all 0.4s ease 0s;
            /*добавить скролл меню для горизонталки*/
            overflow: auto;
            //----отображение мобильного меню
            &.active {
                top: var(--heHeader);
            }
        }
        //навигация
        &__navigation ul {
            padding: 50px 10px 150px;
            display: grid;
        }
        //ссылки
        &__link {
            @include fontSize(32px,
            700,
            42px);
            margin-left: 40px;
            //наведение на ссылки в мобильном меню
            &:hover {
                @include textBorderGold;
            }
        }
        //скрываем первое изображение, которое не вызывает попап
        #header__phone-img1 {
            display: none;
        }
        //отображаем ворое изображение, которое вызывает попап
        #header__phone-img2 {
            display: block;
        }
        //телефон
        &__phone {
            @include flexAlJu(center);
            //лейбл телефон
            img {
                @include wiHe(36px,
                36px);
                margin-right: 0;
                margin-left: 14px;
            }
            //скрываем телефон в меню
            p {
                display: none;
            }
        }
    }
    .header-popup__phone-wrapper {
        display: block;
    }
    //попап с всплывающим номером телефона
    .header-popup {
        //фон
        &__phone-wrapper {
            @include wiHe;
            top: -100%;
            z-index: 100;
            position: fixed;
            background-color: $blackColorOpacity;
            /**/
            transition: all 0.4s ease 0s;
            /*добавить скролл меню для горизонталки*/
            overflow: auto;
        }
        //телефон
        &__phone-text {
            @include wiHe(310px,
            100px);
            @include flCent;
            @include fontSize(38px,
            bold,
            70px,
            $whiteColor);
            margin: 150px auto;
            background-color: $blueColor;
            text-shadow: 1.5px 2px 2px $goldColor;
        }
        //кнопка закрытия
        &__btn-close-phone {
            @include wiHe(50px,
            50px);
            @include riTo(15px,
            15px);
            position: absolute;
            //крестик в кнопке
            &::before,
            &::after {
                @include wiHe(30px,
                3px);
                content: '';
                background-color: $whiteColor;
                position: absolute;
                left: 8px;
            }
            &::before {
                top: 23px;
                /**/
                transform: rotate(45deg);
            }
            &::after {
                bottom: 23px;
                /**/
                transform: rotate(-45deg);
            }
        }
    }
}

@media (max-width: 320px) {
    .header {
        width: 100%;
        overflow: hidden;
        &__link {
            margin-left: 3px;
        }
        &__burger {
            @include wiHe(20px,
            20px);
            //средняя черта бургера
            span {
                @include wiHe(20px,
                2px);
                @include leTo(9px,
                0px);
            }
            //верх и ниж черта бургера
            &::before,
            &::after {
                @include wiHe(20px,
                2px);
            }
            //крестик из бургера
            &.active::before {
                top: 9px;
            }
            &.active::after {
                bottom: 9px;
            }
        }
        img {
            @include wiHe(25px,
            25px);
            margin-left: 0px;
        }
    }
    .header-popup {
        //телефон
        &__phone-text {
            @include wiHe(100%,
            100px);
            @include flCent;
            @include fontSize(22px,
            bold,
            70px,
            $blackColor);
            margin: 150px auto;
            background-color: $goldColor;
            text-shadow: 0px 5px 5px $darkGray;
        }
    }
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------

/*---------------FOOTER-----------------*/

.footer {
    @include wiHe($he: max-content);
    @include flexAlJu(center);
    background-color: $whiteColor;
    padding: 20px 0px 526px;
    //обертка строки футера
    &__row {
        box-sizing: border-box;
        @include wiHe(var(--contentWidh),
        max-content);
        @include flexAlJu;
    }
    //логотип
    &__logo {
        box-sizing: border-box;
        @include wiHe(var(--logoHedWe),
        var(--logoHedHe));
        img {
            @include wiHe;
        }
    }
    //группа ссылок
    &__sotial-link-group {
        display: flex;
        gap: 25px;
    }
    //ссылки на соцсети
    &__link {
        @include wiHe(48px,
        48px);
        @include bgImg(unset);
        border-radius: 50%;
        &:hover {
            box-shadow: 0 0 5px 2px $goldColor;
            background-color: $blueColorOpacity08;
        }
    }
    &__fb {
        background-image: url('../img/svg/fb-lable-black.svg');
        &:hover {
            background-image: url('../img/svg/fb-lable-white.svg');
        }
    }
    &__ig {
        background-image: url('../img/svg/ig-lable-black.svg');
        &:hover {
            background-image: url('../img/svg/ig-lable-white.svg');
        }
    }
    &__tw {
        background-image: url('../img/svg/tw-lable-black.svg');
        &:hover {
            background-image: url('../img/svg/tw-lable-white.svg');
        }
    }
    &__yt {
        background-image: url('../img/svg/yt-lable-black.svg');
        &:hover {
            background-image: url('../img/svg/yt-lable-white.svg');
        }
    }
}

@media (max-width: 1024px) {
    .footer {
        &__link {
            @include wiHe(35px,
            35px);
        }
    }
}

@media (max-width: 900px) {
    .footer {
        padding-bottom: 200px;
        &__logo {
            @include wiHe(170px,
            32px);
        }
    }
}

@media (max-width: 480px) {
    .footer__row {
        @include flCent;
        flex-wrap: wrap;
        gap: 20px;
    }
}


/*-----------------------------*/