//обнуление
@import 'null-style';
//переменные,шаблоны,миксины
@import 'base';
// медиа адаптив из размерных переменных
@import 'media-variables';
//хедер и футер
@import 'style-head-foot';
//POPUP
@import 'popup-form';
//-
//-
body {
    background: $darkGray;
}


/*---------main----------*/

//кдасс для запрета прокрутки во время открытых попапов и мобильного меню
body.lock {
    overflow: hidden;
}

//класс видимости попапа
.visible {
    top: 0;
    /**/
    transition: all 0.4s ease 0s;
}

main {
    @include wiHe($he: max-content);
}

//1 секция
.demonstration-block {
    @include wiHe($he: var(--firstBlokHe));
    @include leTo;
    position: relative;
    overflow: hidden;
    //фото кафе
    &__img {
        @include wiHe(100%, 100%);
        @include leTo;
        z-index: -1;
        position: absolute;
    }
    //обертка
    &__conteiner {
        @include wiHe(var(--contentWidh));
        margin: 0 auto;
        padding-top: calc(var(--heHeader) + var(--padTopText1Block));
        padding-bottom: calc(var(--padTopText1Block) * 2);
    }
    //график работы
    h4 {
        @include fontSizeH4($color: $whiteColor);
        letter-spacing: 0.06em;
        margin-bottom: 24px;
    }
    //описание
    &__text {
        @include fontSize(64px, 700, 88px);
        margin-bottom: 40px;
    }
    //обертка кнопок
    &__btn-group {
        @include flexAlJu;
    }
    //кнопка брони
    &__btn {
        @include fontSizeH5($color: $whiteColor);
        @include wiHe(var(--firstBlockBtnWi), var(--firstBlockBtnHe));
        position: relative;
        background-color: $goldColor;
        &::after {
            @include fontSizeH5($color: $whiteColor);
            @include flCent;
            @include wiHe(var(--firstBlockBtnWi), var(--firstBlockBtnHe));
            @include leTo;
            content: 'Reserve a table';
            position: absolute;
            background-color: $blueColor;
        }
        /* &:hover::after {
            @include leTo(-2px);
        }*/
        &:hover::after {
            box-shadow: 0 0 10px 1px $goldColor;
            color: $goldColor;
        }
    }
    //група ссылок на соц сети
    &__social-group {
        display: flex;
        gap: 25px;
    }
    //ссылки на соц сети
    &__link {
        @include bgImg(none);
        @include wiHe(48px, 48px);
        border-radius: 50%;
        color: $whiteColor;
        &:hover {
            box-shadow: 0 0 5px 0px $goldColorOpacity;
            background-color: $goldColorOpacity;
        }
    }
    &__fb {
        background-image: url('../img/svg/fb-lable-white.svg');
        &:hover {
            background-image: url('../img/svg/fb-lable-black.svg');
        }
    }
    &__ig {
        background-image: url('../img/svg/ig-lable-white.svg');
        &:hover {
            background-image: url('../img/svg/ig-lable-black.svg');
        }
    }
    &__tw {
        background-image: url('../img/svg/tw-lable-white.svg');
        &:hover {
            background-image: url('../img/svg/tw-lable-black.svg');
        }
    }
    &__yt {
        background-image: url('../img/svg/yt-lable-white.svg');
        &:hover {
            background-image: url('../img/svg/yt-lable-black.svg');
        }
    }
}

//--
@media (max-width: 1250px) {
    .demonstration-block {
        &__img {
            @include wiHe(50%,
            50%);
            @include leTo(-150px,
            -250px);
        }
    }
}

@media (max-width: 1024px) {
    .demonstration-block {
        background-color: $whiteColor;
        &__conteiner {
            h4 {
                @include fontSizeH4($color: $blackColor);
                letter-spacing: 0.04em;
                margin-bottom: 10px;
            }
        }
        &__text {
            @include fontSize(42px,
            900,
            50px,
            $color: $blackColor);
            margin-bottom: 30px;
        }
        &__link {
            @include wiHe(35px,
            35px);
            &:hover {
                box-shadow: 0 0 5px 2px $goldColor;
                background-color: $blueColorOpacity08;
            }
        }
        &__fb {
            background-image: url('../img/svg/fb-lable-black.svg');
            &:hover {
                background-image: url('../img/svg/fb-lable-white.svg');
            }
        }
        &__ig {
            background-image: url('../img/svg/ig-lable-black.svg');
            &:hover {
                background-image: url('../img/svg/ig-lable-white.svg');
            }
        }
        &__tw {
            background-image: url('../img/svg/tw-lable-black.svg');
            &:hover {
                background-image: url('../img/svg/tw-lable-white.svg');
            }
        }
        &__yt {
            background-image: url('../img/svg/yt-lable-black.svg');
            &:hover {
                background-image: url('../img/svg/yt-lable-white.svg');
            }
        }
        &__img {
            @include wiHe(var(--contentWidh),
            auto);
            z-index: unset;
            position: static;
            margin: 0 auto 20px;
            img {
                @include wiHe;
            }
        }
    }
}

@media (max-width: 495px) {
    .demonstration-block {
        width: 100%;
        overflow: hidden;
        h4 {
            letter-spacing: 0.04em;
            margin-bottom: 10px;
        }
        //описание
        &__text {
            @include fontSize(32px,
            700,
            40px,
            $blackColor);
            margin-bottom: 20px;
        }
        //обертка кнопок
        &__btn-group {
            @include flCent;
            flex-wrap: wrap;
            gap: 20px;
        }
        //група ссылок на соц сети
        &__social-group {
            gap: 20px;
        }
    }
}

@media (max-width: 320px) {
    .demonstration-block {
        &__conteiner {
            h4 {
                margin-bottom: 5px;
            }
        }
        &__text {
            @include fontSize(30px,
            900,
            40px,
            $color: $blackColor);
        }
    }
}

//-------------------------------------------------
//-------------------------------------------------
//-------------------------------------------------
//-------------------------------------------------
//2 секция
.timetable {
    @include flexAlJu(center);
    @include wiHe($he: var(--timetableHe));
    background-color: $whiteColor;
    &__wrapper {
        @include flexAlJu;
        @include wiHe(var(--contentWidh));
    }
    &__day-block-group ul {
        @include gridAlJu(unset);
        min-width: max-content;
        height: max-content;
        gap: 40px;
    }
    &__day {
        display: grid;
        gap: 10px;
        h4 {
            @include fontSizeH4;
        }
        h5 {
            @include fontSizeH5;
            display: flex;
        }
        span {
            @include wiHe(max-content);
            @include flexAlJu(center);
            padding: 0 12px;
        }
    }
    &__square {
        @include wiHe(var(--squareWi),
        var(--squareHe));
        position: relative;
        display: flex;
        left: -100px;
        border: 2px solid $goldColor;
        &::after,
        &::before {
            @include bgImg;
            @include wiHe(var(--photoSquareWi),
            var(--photoSquareHe));
            content: '';
            position: absolute;
        }
        &::after {
            @include leBo(-51px,
            -97px);
            background-image: url('../img/2sect-01.jpg');
        }
        &::before {
            @include riTo(-51px,
            -100px);
            background-image: url('../img/2sect-02.jpg');
        }
    }
}

//---
@media (max-width: 1250px) {
    .timetable {
        &__square {
            left: -70px;
            &::after {
                @include leBo(-80px,
                -27%);
            }
            &::before {
                @include riTo(-80px,
                -27%);
            }
        }
    }
}

@media (max-width: 1024px) {
    .timetable {
        &__day-block-group ul {
            gap: 20px;
        }
        &__day {
            gap: 5px;
            span {
                padding: 0 4px;
                img {
                    @include wiHe(20px,
                    auto);
                }
            }
        }
        &__square {
            left: -50px;
            &::after {
                @include leBo(-75px,
                -17%);
            }
            &::before {
                @include riTo(-75px,
                -17%);
            }
        }
    }
}

@media (max-width: 767px) {
    .timetable {
        @include wiHe($he: max-content);
        //обертка
        &__wrapper {
            @include flCent;
            flex-wrap: wrap;
        }
        //обертка списка
        &__day-block-group ul {
            width: 90vw;
            gap: 20px;
        }
        //элементы списка
        &__day {
            @include gridAlJu($jusCon: center);
            gap: 5px;
            h4 {
                @include flCent;
            }
            h5 {
                @include flCent;
                span {
                    padding: 0 4px;
                    img {
                        @include wiHe(30px,
                        auto);
                    }
                }
            }
        }
        &__square {
            margin: 50px auto;
            position: relative;
            left: unset;
            &::after {
                @include leBo(-35px,
                -95px);
            }
            &::before {
                @include riTo(-35px,
                -95px);
            }
        }
    }
}

@media (max-width: 495px) {
    .timetable {
        //обертка списка
        &__wrapper {
            box-sizing: border-box;
        }
        &__day-block-group ul {
            margin: auto;
            gap: 5px;
        }
        //элементы списка
        &__day {
            box-sizing: border-box;
            width: 80vw;
            @include gridAlJu($jusCon: center);
            gap: 5px;
            h4 {
                @include flCent;
            }
            h5 {
                @include flCent;
                flex-wrap: wrap;
                span {
                    width: 80%;
                    padding: 0 4px;
                }
            }
        }
        &__square {
            margin: 50px auto;
            &::after {
                @include leBo(-35px,
                -45px);
            }
            &::before {
                @include riTo(-35px,
                -45px);
            }
        }
    }
}

@media (max-width: 320px) {
    .timetable {
        overflow: hidden;
        //обертка списка
        &__day-block-group ul {
            width: 80vw;
        }
        &__day {
            margin: 5px auto;
            h4 {
                text-align: center;
            }
            h5 {
                text-align: center;
                span {
                    margin: 3px auto;
                }
            }
        }
        &__square {
            margin: 50px 0;
            &::after {
                @include leBo(-25px,
                -25px);
            }
            &::before {
                @include riTo(-25px,
                -25px);
            }
        }
    }
}

//-------------------------------------------------
//-------------------------------------------------
//-------------------------------------------------
//-------------------------------------------------
//3 секция
.advantages {
    @include wiHe($he: 782px);
    @include flexAlJu(center);
    background-color: $blueColor;
    min-width: 0;
    //----------Кнопки слайдера---------------
    .wrapper-gallery-text .swiper-button-prev::after,
    .wrapper-gallery-text .swiper-button-next::after {
        color: $goldColor;
    }
    .wrapper-gallery-text .swiper-button-prev:hover::after,
    .wrapper-gallery-text .swiper-button-next:hover::after {
        @include textBorderBlack;
    }
    //---------------------
    .wrapper-gallery-text {
        @include wiHe(var(--contentWidh),
        max-content);
    }
    &__slide {
        box-sizing: border-box;
        width: 80%;
        h3,
        p,
        h4 {
            width: 70%;
            display: block;
            text-align: center;
        }
        h3 {
            @include fontSizeH3($color: $goldColor);
            margin: 0 auto 20px;
        }
        p {
            @include fontSizeP($color: $whiteColor);
            margin: 0 auto 40px;
        }
        h4 {
            @include fontSizeH4($color: $goldColor);
            margin: 0 auto;
            text-transform: uppercase;
            letter-spacing: 0.245em;
        }
    }
    &__lable {
        @include wiHe(83px,
        58px);
        margin: 0px auto 34px;
        img {
            @include wiHe;
        }
    }
}

//--
@media (max-width: 1250px) {
    .advantages {
        @include wiHe($he: max-content);
        padding: 70px 0;
    }
}

@media (max-width: 1024px) {
    .advantages {
        padding: 50px 0;
        .wrapper-gallery-text {
            @include wiHe(90vw,
            max-content);
        }
        &__slide {
            h3,
            p,
            h4 {
                @include flCent;
                width: 70vw;
            }
            h3 {
                min-height: 75px;
            }
            p {
                min-height: 112px;
            }
            h4 {
                min-height: 30px;
            }
        }
        &__lable {
            @include wiHe(65px,
            65px);
        }
    }
}

@media (max-width: 767px) {
    .advantages {
        padding: 30px 0;
        &__slide {
            h3 {
                min-height: 115px;
            }
            p {
                min-height: 170px;
            }
        }
    }
}

@media (max-width: 495px) {
    .advantages {
        .wrapper-gallery-text {
            @include wiHe(98vw);
        }
        &__slide {
            h3,
            p,
            h4 {
                width: 67vw;
            }
            h3 {
                min-height: 100px;
            }
            p {
                min-height: 255px;
            }
            h4 {
                min-height: 60px;
            }
        }
    }
}

@media (max-width: 320px) {
    .advantages {
        .wrapper-gallery-text {}
        &__slide {
            p {
                margin-bottom: 10px;
            }
        }
    }
}

//-------------------------------------------------
//-------------------------------------------------
//-------------------------------------------------
//-------------------------------------------------
//4 секция
.cafe-menu {
    @include wiHe($he: max-content);
    @include flCent;
    padding: 114px 0px 80px;
    background-color: $whiteColor;
    &__wrapper {
        @include gridCent;
        @include wiHe(var(--contentWidh),
        max-content);
        gap: 30px;
    }
    &__card {
        @include wiHe;
        @include flexAlJu;
        gap: 30px;
    }
}

//каточки
.card-menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    &__text {
        h2 {
            @include fontSizeH2;
            text-transform: uppercase;
        }
        p {
            @include fontSizeP($color: $grayColor);
            display: flex;
            width: 100%;
            margin-top: 16px;
        }
    }
    &__line {
        @include wiHe(108px,
        2px);
        background-color: $goldColor;
        position: relative;
        left: -35px;
    }
    &__img {
        img {
            @include wiHe(670px,
            560px);
        }
    }
}

.card-menu-2 {
    flex-direction: row-reverse;
}

//--
@media (max-width: 1250px) {
    .cafe-menu {
        padding: 80px 0px;
        &__wrapper {
            gap: 20px;
        }
        &__card {
            gap: 20px;
        }
    }
    //каточки
    .card-menu {
        gap: 4%;
        &__text {
            width: 48%;
        }
        &__line {
            left: -15px;
        }
        &__img {
            width: 48%;
            img {
                @include wiHe($he: auto);
            }
        }
    }
}

@media (max-width: 767px) {
    //каточки
    .card-menu {
        &__line {
            left: -25px;
        }
    }
}

@media (max-width: 495px) {
    .cafe-menu {
        padding: 40px 0px;
        &__wrapper {
            gap: 20px;
        }
        &__card {
            flex-direction: column;
            text-align: center;
            gap: 20px;
        }
    }
    //каточки
    .card-menu {
        gap: 10px;
        &__text {
            width: 85%;
        }
        &__line {
            margin: 10px auto 0;
            left: unset;
        }
        &__img {
            width: 85%;
            img {
                @include wiHe($he: auto);
            }
        }
    }
}

//-------------------------------------------------
//-------------------------------------------------
//-------------------------------------------------
//-------------------------------------------------
//5 секция
.gallery {
    @include wiHe($he: 605px);
    @include gridAlJu(center,
    unset);
    position: relative;
    padding-top: 68px;
    background-color: $blueColor;
    &__header {
        @include wiHe(1170px,
        max-content);
        position: relative;
    }
    &__title {
        @include fontSizeH2($color: $whiteColor);
    }
    &__text {
        @include fontSizeP($color: $whiteColor);
        width: 569px;
    }
    &__nav {
        @include wiHe(max-content,
        max-content);
        @include flexAlJu;
        gap: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -23px;
    }
    &__arrow {
        @include wiHe(31px,
        31px);
        margin: 10px;
        border-top-left-radius: 5px;
        background-color: $blueColor;
        border-top: 2px solid $goldColor;
        border-left: 2px solid $goldColor;
        &:hover {
            border-width: 3.5px;
        }
        &:disabled {
            border-color: $darkGray;
            cursor: default;
        }
        &:hover:disabled {
            border-width: 2px;
        }
    }
    .arrow-forward {
        transform: rotate(-45deg);
    }
    .arrow-back {
        transform: rotate(135deg);
    }
    &__row {
        @include flexAlJu(space-around);
        @include wiHe(100%,
        max-content);
        position: absolute;
        top: 262px;
        gap: 30px;
        overflow: hidden;
    }
    &__photo {
        @include wiHe(970px,
        var(--galleryImgHe));
        // @include wiHe(970px,$galleryImgHe);
    }
}

//--
@media (max-width: 1250px) {
    .gallery {
        display: none;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {}

//6 секция
.info {
    @include wiHe($he: max-content);
    @include flexAlJu(center);
    background-color: $whiteColor;
    padding-top: calc(var(--galleryImgHe) / 2 + var(--padTop6Block));
    //padding-top: $galleryImgHe/ 2 + $padTop6Block;
    padding-bottom: 25px;
    &__container {
        @include wiHe(1170px,
        max-content);
        @include flexAlJu(start,
        start);
        display: flex;
        gap: 96px;
    }
    &__contacts {
        display: grid;
        gap: 40px;
        .contacts {
            &__title {
                @include fontSizeH2;
            }
            &__row {
                width: max-content;
                display: flex;
                gap: 16px;
            }
            &__lable {
                @include wiHe(64px,
                64px);
            }
            &__text-column {
                p {
                    @include fontSizeP;
                }
                h4 {
                    @include fontSizeH4;
                }
            }
        }
    }
    &__questions {
        display: grid;
        width: 678px;
        .questions {
            &__title {
                @include fontSizeH2;
                margin-bottom: 29px;
            }
            &__form {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                row-gap: 20px;
                column-gap: 19px;
                label {
                    @include fontSizeP;
                    display: grid;
                    input {
                        @include wiHe(320px,
                        80px);
                        border: 1px solid $smokeColor;
                        padding: 28px 16px;
                    }
                    textarea {
                        @include wiHe(670px,
                        max-content);
                        border: 1px solid $smokeColor;
                        padding: 28px 16px;
                    }
                }
            }
            &__btn {
                @include wiHe(270px,
                100px);
                @include fontSizeH4($color: $whiteColor);
                background-color: $blueColor;
            }
        }
    }
}

//--
@media (max-width: 1250px) {
    .info {
        display: none;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {}

//7 секция
.map {
    @include wiHe($he: max-content);
    @include flexAlJu(center);
    background-color: $whiteColor;
    padding: 25px 0px 20px;
    &__script {
        @include wiHe(1170px,
        547px);
    }
}

//--
@media (max-width: 1250px) {
    .map {
        display: none;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {}